# 服务配置
PORT=8080
GIN_MODE=debug

# Redis 配置
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# MySQL 配置
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=test

# 日志配置
LOG_DIR=storage/logs


# 时区
TZ=Asia/Shanghai
JWT_SECRET=simon-stu-secret-key

# Nacos 配置
NACOS_HOST=43.167.247.202
NACOS_PORT=8848
NACOS_NAMESPACE=meet-app
NACOS_USERNAME=wangxing
NACOS_PASSWORD=wxBEST520
NACOS_APP_NAME=my-go-server
